/* Main Styles */

body {
	background: black;
	font-family: "Itim", cursive;
}

h1 {
	padding: 10px;
}

/* Class Styles */

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	border-radius: 5px;
}

.postcard-header {
	display: flex;
	justify-content: space-between;
}

.Geeks-image {
	height: 60px;
	width: 60px;
	margin: auto;
	vertical-align: auto;
}

.postcard-body {
	display: flex;
	justify-content: space-between;
}

.body-right {
	padding: 10px;
}

.body-right input {
	border-color: grey;
	border-top: none;
	border-left: none;
	border-right: none;
	border-width: 1px;
}

.body-left {
	padding: 10px;
}

.postcard-footer {
	text-align: center;
}

.p1 {
	margin-top: 0px;
}

.button1 {
	background-color: darkgrey;
	padding: 5px;
	border-radius: 5px;
}

.button1:hover {
	background-color: lightgrey;
	cursor: pointer;
}

.button1:active {
	background-color: gray;
}
